.grafico1 {
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: 85vw;
  color: #eb0202;
  background-color: #f2f3f5;
  margin: 10px;
}

.grafico1 th {
  color: #eb0202;
}

.tabelaG {
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: 85vw;
  color: #f2f3f5;
  background-color: #eb0202;
  margin: 10px;
}

.tabelaG th {
  color: #f2f3f5;
}

.botES {
  display: flex;
  justify-content: space-between;
  font-family: serif;
  margin: 15px;
}